@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-black-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-blackitalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-bold-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-bolditalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-book-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-bookitalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-light-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-lightitalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-thin-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-thinitalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-thinitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-medium-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Helvetica';
    src: url('https://indestructibletype-fonthosting.github.io/renner-mediumitalic-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}
